<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Others</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.career.sub.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Register</h1>
        <form method="POST">
            <label for="fullname">Fullname</label>
            <input type="text" id="fullname" name="fullname" required>
            <input type="submit" value="Submit">
        </form>
    </div>
    <a href={{ url_for('index')}}>Home</a>
    <a href={{ url_for('career_base')}}>Career</a>
</body>
</html>
