body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    font-size: 2em;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input[type="text"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5rem;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
a {
    text-decoration:none; /* No underline on links */
    color:black; /* Black text color*/
 }