.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .grid-item {
    padding: 10px 20px;
    background-color: #d3d3d3; /* Light grey background */
    border-radius: 20px; /* Rounded corners */
    text-align: center; /* Center text */
    box-shadow: 2px 2px #888888; /* Shadow effect */
}

a {
   text-decoration:none; /* No underline on links */
   color:black; /* Black text color*/
}